<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344724821207-3i6ag6t8qrrpeeaurej7qnqh2bgdvjae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344724821207-3i6ag6t8qrrpeeaurej7qnqh2bgdvjae</string>
	<key>API_KEY</key>
	<string>AIzaSyAHuHAzQ2btMDvzVIiP84DQaiM6xOzjnP8</string>
	<key>GCM_SENDER_ID</key>
	<string>344724821207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.superwizor.superwizor</string>
	<key>PROJECT_ID</key>
	<string>superwizor-ai-25ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>superwizor-ai-25ecd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344724821207:ios:74fa7d1d312fcec9a98c92</string>
</dict>
</plist>